@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    height: 100vh
}

/* все сылки */
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
}

a:hover {
    text-decoration: underline;
    color: #000;
}

p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    margin: 0;
}

/*                     header                        */
header {
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid black;

    display: flex;
    align-items: center;
}

/* conteiner шапки */
.header__conteiner {
    display: flex;
    justify-content: space-between;

    width: 235px;
    height: 24px;

    margin: 0 auto;

    font-size: 20px;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* main */

/* основная карточка */
.main__conteiner {
    width: 45vw;
    height: 60vh;
    margin: 0 auto;
    margin-top: 10vh;

    display: flex;
    justify-content: space-between;
}

/* список навыков */
.skills {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;

    width: 10vw;
    height: 20vh;
}

.main__title {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.skills__list {
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;


    line-height: 4vh;
}

/* автор */
.avtor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    height: 60vh;

}

/* ИМФ */
.avtor__text {
    color: rgba(94, 94, 94, 1);
}

/* картинка */
.img-avtor {
    height: 55vh;
    width: auto;

    border: 5px solid black;
    border-radius: 10%;
}

/*   footer  */
footer {
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 50px;
    border-top: 1px solid black;

    display: flex;
    align-items: center;
}

.footer__conteiner {
    display: flex;
    margin: 0 auto;
    width: 45vw;
    justify-content: space-between;

    color: rgba(0, 0, 0, 0.63);
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.yers {
    position: absolute;
}

/* -------------------------------------about sait----------------------------------------- */
.main__about__text {
    width: 20vw;
}

.about {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;

    width: 10vw;
    height: 15vh;
}



/* ------------------------------------ 768px -------------------------------------------- */

@media screen and (max-width: 768px){
    body {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }

    .main__title {
        font-size: 20px;
    }

    li {
        font-size: 14px;
    }

    .img-avtor {
        height: 40vh;
        width: auto;
    }

    .footer__conteiner {
        width: 55vw;
    }

    .footer__contact {
        width: 40vw;
    }

    .main__title {
        font-size: 18px;
    }

    .main__about__text {
        font-size: 14px;
        width: 14vw;
    }
}